.env
*firebase-service-account.json
*.json

# Local dev output from run-local.ps1
bin/
logs/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
